{
  "presets": ["@babel/preset-env"],
  "plugins": [ ["@babel/plugin-transform-runtime"], ["import", {
    "libraryName": "element-ui",
    "styleLibraryName": "theme-chalk"
  }]],
  "comments": true
}
