$main1: #895bff;
$main2: #f1309a;
$dark: #484848;
$mediumGray: #545454;
$lightGray: #838383;
$rating1: #6bb01a;
$rating2: #da9527;
$rating3: #cd2727;
$gradient: linear-gradient(to right, $main1, $main2);
