@use "sass:color";
@use "../colors";
@use "../misc";

.overlay {
  background: rgba(#333, .7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 250;
}

.modal-wrap {
  display: flex;
  left: 50%;
  max-width: 550px;
  max-height: 100svh;
  position: fixed;
  top: 10%;
  flex-direction: column;
  transform: translateX(-50%);
  width: 100%;
  box-shadow: 0 5px 20px 0 rgba(#000, .6);
  z-index: 300;

  @include misc.media(4) {
    top: 0;
  }
}

.modal-wrap-big {
  max-width: 1300px;
  height: 80%;

  .modal-content {
    max-height: calc(100% - 45px);
    height: 100%;

    &:has(iframe) {
      overflow: hidden;
    }
  }

  @include misc.media(4) {
    height: 100%;
  }
}

.modal-header {
  display: flex;
  background: colors.$main2;
  background: colors.$gradient;
  color: #fff;
  font-size: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  padding: 10px 15px;
}

.close-modal {
  margin: 0;
  padding: 15px;
  cursor: pointer;
  font-style: normal;
  line-height: 1;
  opacity: .8;
  background: none;

  &:hover,
  &:active,
  &:focus {
    background: none;
    opacity: .5;
  }
}

.season-tabs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background: #464646;
}

.season-number-item {
  width: 10%;
  flex-shrink: 0;
  list-style: none;

  @include misc.media(6) {
    width: 20%;
  }
}

.season-number-button {
  cursor: pointer;
  font-size: 16px;
  color: #a9a9a9;
  padding: 10px 0;
  width: 100%;
  background: none;
  text-align: center;

  @include misc.transition(background);

  &.active,
  &:hover,
  &:focus {
    background: #2f2f2f;
    outline: none;
  }
}

.completed {
  color: colors.$rating1;
}

.modal-content {
  width: 100%;
  position: relative;
  background: #2f2f2f;
  max-height: calc(60vh - 100px);
  overflow: auto;

  @include misc.media(4) {
    max-height: 100%;
  }
}

.item-header {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  background: #2f2f2f;
}

.header-name,
.header-seen {
  color: rgba(#fff, .4);
  font-size: 14px;
}

.header-seen {
  margin: 0;
  padding: 0;
  background: none;
  text-transform: initial;
  cursor: pointer;

  @include misc.transition(color);

  &:hover,
  &:focus {
    color: rgba(#fff, .8);
    background: none;
  }

  &:active {
    color: rgba(#fff, .4);
    background: none;
  }
}

.modal-content-loading {
  padding: 100px 0;
}

.modal-item-container {
  border-bottom: 1px solid #444;

  &:last-child {
    border: none;
  }
}

.modal-item {
  display: grid;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  grid-template-areas: "title title episodenumber" "date date checkbox";
  gap: 2px 10px;

  @include misc.transition(background);

  &:hover,
  &:focus-within {
    background: color.adjust(#2f2f2f, $lightness: -5%);
  }

  &:active {
    .logged & {
      background: color.adjust(#2f2f2f, $lightness: -3%);
    }
  }

  .item-has-src {
    margin: 7px 0 0 5px;
  }
}

.modal-episode {
  color: rgba(#fff, .4);
  font-size: 15px;
  text-align: right;
  grid-area: episodenumber;
}

.modal-name {
  color: rgba(#fff, .7);
  font-size: 15px;
  grid-area: title;

  &.spoiler-protect {
    background: rgba(#fff, .4);
    color: transparent;

    @extend .no-select;
  }
}

.modal-release-episode {
  color: rgba(#fff, .4);
  font-size: 13px;
  align-content: end;
  grid-area: date;

  i {
    display: inline-block;
    width: 13px;
    height: 13px;
    opacity: .8;
    background: url(../../../public/assets/img/clock.png) no-repeat;
    vertical-align: middle;
  }
}

.episode-seen {
  position: relative;
  display: inline-block;
  margin-left: auto;
  width: 22px;
  height: 22px;
  color: colors.$mediumGray;
  border: 3px solid currentColor;
  border-radius: 4px;
  grid-area: checkbox;

  &[checked]::after {
    display: inline-block;
    margin-top: -3px;
    width: 100%;
    height: 100%;
    content: "✔";
    text-align: center;
    font-style: normal;
    vertical-align: top;
  }

  &[checked] {
    color: colors.$main2;
  }
}
